* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 14px;
    font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
    font-family: "Open Sans";

}

a {
    text-decoration: none;
    color: #3669a4;
    border-bottom: 1px dotted #4A90E2;
}

a:hover {
    color: #4485d1;
    border-bottom: 1px dotted #4b93e6;

}

a.joinUs  {
    text-decoration: none;
    color: #9bc8fd;
    border-bottom: 1px dotted #4A90E2;
}

a:hover.joinUs {
    color: #fff;
    border-bottom: 1px dotted #4b93e6;

}

p {
    font-family: "Open Sans";
    margin: -1.2em 0 1.4em 0;
}

.upperBorder {
    background-image: url(../../img/border-methods.png);
    height: 55px;
    background-repeat: repeat-x;
    text-align: center;
    padding-top:14px;
    color: #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 6px rgba(0,0,0, 0.25);
    font-size: 110%;
}

img.logo {
    height: 63px;
    width: 63px;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: none;
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: #4A90E2;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 5px;
    font-size: 150%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #DBEFFF; /*url('../../img/congruent_pentagon.png') center;*/
    background-image: url(../../img/partyHat-sm.png);
    background-repeat: no-repeat;
    background-position: 70px 90px;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 68%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
/*    text-transform: uppercase;
*/  color: #74a855;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 26px;
    font-weight: bold;
    font-family: "Bree Serif", serif;
    padding: 0em 1.6em;
    font-weight: 400;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    
    letter-spacing: 0.02em;
    font-size:1.2em;
    opacity: 0.8;
    padding-top:10px;
    padding-bottom: 10px;

}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 80%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    margin: 1.2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #74a855;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
}
    .content-subhead i {
        margin-right: 7px;
    }

    .bottom {
    color: #FD8B25;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #444;
    color: #B6B1B1;
    background-image: url(../../img/swagger-logo-gray.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
}

.footer .emphasis {
    font-style: italic;
}

@media (min-width: 35em) {

    /* positioning the bg image - MM */
    .footer {
        background-position: 9px 8px;
  }


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
        background-color: #fff;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/



    /* We decrease the width of the .splash, since we have more width
    to work with */

    
    .splash-container {
        background: #DBEFFF; /*url('../../img/congruent_pentagon.png') center;*/
        background-image: url(../../img/partyHat-lg.png);
        background-repeat: no-repeat;
        background-position: 90px 70px;

    }
    .splash {
        width: 80%;
        height: 50%;
    }

    .splash-head {
        font-size: 3em;
        font-family: 'Bree Serif', serif;
    }

    .party {
        background-image: url(../../img/swagger-logo-gray.png);
        background-repeat: no-repeat;
        height: 100px;
        width: 80px;
        display: inline;
        float: left;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

    /* This is the class used for the footer -MM */
    .footer {
        background-position: 12px 13px;
    }


}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    .splash-container {
    background: #DBEFFF; /*url('../../img/congruent_pentagon.png') center;*/
    background-image: url(../../img/partyHat-lg.png);
    background-repeat: no-repeat;
    background-position: 180px 90px;
    }

    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
    .footer {
    background-position: 18px 13px;
}

}
